.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;

    .left {
        width: 20vw;
        height: 100vh;

        .cards {
            width: 100%;
            height: 85%;
            overflow-y: auto;
            overflow-x: hidden;
        }

        .button {
            width: 100%;
            height: 15%;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
    
    .right {
        width: 80vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        
        .header {
            width: 100%;
            height: 2rem;
            .logout {
                margin: 0;
                position: absolute;
                right: 2.5rem;
                top: 1rem;

                &:hover {
                    cursor: pointer;
                }
            }
        }

        .cards {
            display: flex;
            flex-wrap: wrap;
            overflow: auto;
        }
    }
}

.cards::-webkit-scrollbar {
    width: 8px;
}

.cards::-webkit-scrollbar-track {
    background: #1B2B51;
    border-radius: 2rem;
}

.cards::-webkit-scrollbar-thumb {
    background: #c9c9dc;
    border-radius: 2rem;
}

